<!DOCTYPE html>
<html>
<head>
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/produtos.css">
</head>
<body>
    <%- include('cabecalho.ejs') %>
    <div class="container">
        <h1>Produtos</h1>
        <a class="link-adicionar" href="/produtos/criar">Adicionar Novo Produto</a>
    </div>    
    <div class="produtos">
        <% produtos.forEach(function(produto) { %>
            <div class="produto-box"> 
                <h3><%= produto.nome %></h3>
                <img class="produto-imagem" src="/_img/<%= produto.imagem %>" alt="<%= produto.nome %>">
                <p>Preço: R$ <%= produto.preco.toFixed(2) %></p>
                <p>Categoria: <%= produto.categoria %></p>
                <p>Tamanho: <%= produto.tamanho %></p>
                <p>Descrição: <%= produto.descricao %></p>
                <div class="actions">
                    <button class="edit" onclick="location.href='/produtos/editar/<%= produto.id %>'">Editar</button>
                    <form action="/produtos/<%= produto.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Excluir">
                    </form>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>